extends layout

block content
  .container(style='font-size:1.3em;')
    h1.ui.center.aligned.header
      i.gift.red.icon
      | 參賽獎勵
    h3.ui.info.message 前150位報名成功且至少完成任何一場賽事，即可獲得《暴雪英霸》封測序號一組(一人限領一份)，將會以寄Email的方式進行發送。
    h2.ui.header 英雄聯盟 - 5 vs 5 (8隊的賽事)
    ul
      li 冠軍:每人 500 聯盟幣
      li 亞軍:每人 250 聯盟幣
      li 季軍:每人 150 聯盟幣
      li 參加獎:4 勝權利點加倍道具
      li 英雄聯盟伊澤瑞爾公仔 1 尊(提供給主辦單位作為抽獎使用)

    h2.ui.header 英雄聯盟 - 5 vs 5 (32隊的賽事)
    ul
      li 冠軍:每人 1000 聯盟幣
      li 亞軍:每人 500 聯盟幣
      li 季軍:每人 300 聯盟幣
      li 參加獎:4 勝權利點加倍道具
      li 英雄聯盟伊澤瑞爾公仔 2 尊(提供給主辦單位作為抽獎使用)

    h2.ui.header 英雄聯盟 - 校內中路單挑大賽
    ul
      li 冠軍:每人 500 聯盟幣
      li 亞軍:每人 250 聯盟幣
      li 季軍:每人 150 聯盟幣
      li 參加獎:4 勝權利點加倍道具
    

    h2.ui.header 星海爭霸
    ul
      li 冠軍:POP 凱莉根公仔一個、蟲族進化 T-Shirt size M 一件、該項遊戲總啟動碼收取費用(該遊戲總報名費) 40%
      li 亞軍:POP 凱莉根公仔一個、Carbot 雷獸 T-Shirt size M 一件、該項遊戲總啟動碼收取費用(該遊戲總報名費) 30%
      li 季軍:POP 凱莉根公仔一個、雷諾摺紙 papercraft、該項遊戲總啟動碼收取費用(該遊戲總報名費) 20%

    h2.ui.header 爐石戰記
    ul
      li 冠軍:《爐石戰記》T-Shirt 一件、悠遊卡貼一個、卡背資料夾一個、該項遊戲總啟動碼收取費用(該遊戲總報名費) 40%
      li 亞軍:《爐石戰記》開瓶器磁鐵一個、悠遊卡貼一個、卡背資料夾一個、該項遊戲總啟動碼收取費用(該遊戲總報名費) 30%
      li 季軍:《爐石戰記》拭淨布一份、悠遊卡貼一個、卡背資料夾一個、該項遊戲總啟動碼收取費用(該遊戲總報名費) 20%

    h2.ui.header A.V.A 戰地之王
    ul
      li 冠軍:50張紅票
      li 亞軍:30張紅票
      li 季軍:20張紅票
      li 參加獎:10000Euro、瑪利點數60點、女角造型包7天、140貝殼幣。
